/* Write your global styles here, in PostCSS syntax */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
:root {
    --main-light-color: #FFD700;
    --secondary-color: #FFAD00;
    --grey: #F4F0F0;
    --dark: #924912;
    --texto: grey;
    --logo: url('/logo-gold seed 1.svg');
    --small-logo: url('/logo-gold seed-folha 1.svg');
    --logo-filial-sm: url('/logo da sementes mana.jpeg');
    --logo-filial-ob: url('/logo da ouro branco.jpg');
    --logo-filial-ms: url('/logo da mana service.png');
    --logo-filial: var(--logo-filial-ob);
}
* {
    font-family: 'ABeeZee', sans-serif;
    color: var(--texto);
    font-size: small;
}
:focus-visible {
    --focus-border-color: var(--dark);
    outline: var(--focus-border-color) solid;
}

div div {
    display: flex;
    flex-flow: column;
    position: relative;
    justify-content: space-between;
    width: fit-content;
}
.div {
    display: flex;
    flex-flow: column;
    position: relative;
    justify-content: space-between;
    width: fit-content;
}

.container {
    --text-color: var(--texto);
    border-radius: 2em;
    padding: 4em;
    padding-top: 2em;
    color: var(--text-color);
}

.outlined.container {
    --outline-color: var(--texto);
    border: thin var(--outline-color) solid;
}

.filled.container {
    --fill-color: var(--grey);
    background-color: var(--fill-color);
}

.divider {
    --fill-color: var(--texto);
    width: 100%;
    height: 0.3em;
    padding: 0;
    border: none;
    background-color: var(--fill-color);
}

.buttons {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    width: 100%;
    height: fit-content;
    margin-top: 3em;
}

.button {
    --background-color: var(--grey);
    --text-color: var(--texto);
    border-radius: 2em;
    border: none;
    padding: 0.5em;
    margin-top: 1em;
    text-decoration: none;
    text-align: center;
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
}

.action.button {
    --background-color: var(--dark);
    --text-color: white;
}

.underline {
    position: relative;
}
.underline::after {
    --border-color: var(--dark);
    content: '';
    border: var(--border-color) solid;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 2em;
}
.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}
.hidden {
    display: none !important;
}